body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  display: inline-block;
  margin-left: 3rem;
  width: 8rem;
}

.title {
  padding-right: 3rem;
  font-weight: 600;
}

.navbar {
  background-color: white;
  padding: 1rem 0;
}

.nav-item {
  padding-right: 1rem;
  white-space: nowrap;
  font-size: small;
}

.nav-link:hover {
  color: #5fd068 !important;
}

.pent {
  width: 60rem;
}

.pent-head {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.sub-heads {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 0.8rem;
}

.headers {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.current {
  font-weight: bold;
  color: #6dab3c;
}

.headers:hover {
  color: #6dab3c;
}

.head-line {
  width: 10rem;
}

.contribution {
  width: 50rem;
  margin: 0 auto;
  font-size: small;
  padding-bottom: 1rem;
}

.btn--select {
  display: flex;
  justify-content: right;
}

.blurb-btn2 {
  background-color: #6dab3c;
  color: white;
  font-size: 12px !important;
  font-weight: 400;
}

#hidden{
    display:none;
}
